# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Checkpoints do PyTorch
*.pth

# Jupyter Notebook
.ipynb_checkpoints/
